body {
    margin: 0;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 75px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.container {
  padding: 5em 15em;
}

.groupA {
  background-color: darkslateblue;
}

.groupB {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}