/*Global styling */
body {
  margin: 0;
  color:#373333; 
}

h2 {
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 0.75em;
  text-decoration: underline;
}

h3 {
  font-size: 28px;
  margin: 0;
}

p, li, a, span {
  font-size: 17px;
  line-height: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.container {
  padding: 2em; 
}

.about {
  background-color: #ada69f;
}

.experience {
  background-color: #b6b0a9;
}

.projects {
  background-color: #bfbab4;
}

.skills {
  background-color: #c8c4bf;
}

.contact {
  background-color: #d2ceca;
}

/*End of global styling */

.title {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 25%;
  color: #eab28a;
}

.downArrowDiv {
  width: 100%; 
  height: 100%; 
  text-align: center;
  margin-right: 1em;
}

.downArrow {
  position: absolute;
  font-size: 40px; 
  color: #eab28a; 
  bottom: 10%;
}

.downArrow:hover {
  transform: scale(1.3);
}

.lineBreak {
  border: 1px solid black;
  margin: 1em 0;
}

.skills_container {
  text-align: center;
}

.contactContainer {
  text-align: center;
}

.contactHeader {
  font-size: 18px;
}

.contactTitle {
  font-size: 40px;
}

.contactText {
  margin-bottom: 2em;
}

.contactLink {
  color: #3D3939;
  padding: 1em;
  border: 1px solid #3D3939;
}

.contactLink:hover {
  transform: scale(1.3);
}

.projectCardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

/* Small Breakpoint */
@media (min-width: 425px) {
  .container {
    padding: 4em 5em; 
  }
  .title {
    font-size: 55px;
  }
}

/* Medium Breakpoint */
@media (min-width: 768px) {
  .container {
    padding: 4em 7em;
  }
  .contactText {
    padding: 0 6em;
  }
  .contactTitle {
    font-size: 45px;
  }
  .skills_container {
    display: flex;
    justify-content: space-evenly;
  }
  .title {
    font-size: 65px;
    margin: 0 0.5em;
  }
}

/* Large Breakpoint */
@media (min-width: 1024px) {
  .container {
    padding: 4em 9em;
  }
  .contactText {
    padding: 0 12em;
  }
  .title {
    font-size: 75px;
    margin: 0 1.5em;
  }
}

/* X-Large Breakpoint */
@media (min-width: 1366px) {
  .container {
    padding: 4em 18em;
  }
}

/* Custom breakpoint between small and medium */
@media (min-width: 640px) {
  .projectCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Custom breakpoint between large and XL */
@media (min-width: 1160px) {
  .projectCardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    margin: 0 4em;
  }
}
