html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
  text-align: center;
  color: crimson; 
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: .75em;
  text-decoration: underline;
}

h3 {
  font-size: 22px;
  margin: 0;
}

p, li, a {
  font-size: 18px;
  line-height: 25px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.container {
  padding: 4em 15em;
}

.groupA {
  background-color: darkslateblue;
}

.groupB {
  background-color: beige;
}

.lineBreak {
  border: 1px solid black;
  margin: 1em 0;
}

.skills_container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 4em;
}

.contactContainer {
  text-align: center;
}

.contactHeader {
  font-size: 18px;
}

.contactTitle {
  font-size: 45px;
 
}

.contactText {
  padding: 0 10em;
  margin-bottom: 2em;
}

.contactLink {
  color: red;
  padding: 1em;
  border: 1px solid red;
}