.links {
    font-size: 25px;
    padding: 0 .5em;
    margin-top: 0.75em;
}

.footer {
    text-align: center;
    padding: 2em;
    background-color: grey;
}

.links, .copyright {
    color: white;
}

.links:hover {
    transform: scale(1.2);
    color: red;
}
