.nav {
	position: absolute;
	top: 0;
	z-index: 999;
	background-color: #fff;
	right: -800px;
	-webkit-transition: right 0.3s ease-in;
	-o-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
    width: 100%;
    height: 100%;
}

.nav.show {
    right: 0;
}

.menuButton {
	position: absolute;
	z-index: 99;
	font-size: 36px;
	cursor: pointer;
    padding: 10px 8px;
    right: 0;
    top: 1%;
}

.close {
	display: flex;
	justify-content: flex-end;
    padding-right: 15px;
    cursor: pointer;
    font-size: 3rem;
	font-weight: bold;
	color: #AAA;
}

.menuList {
    margin: 0;
    padding-top: 3em;
    padding-bottom: 15em; 
    background-color: white;
}

.menuLink {
    display: flex;
    justify-content: center;
	text-decoration: none;
	color: #555;
	padding: 16px 10px;
    font-size: 24px;
	/* border-bottom: 1px solid #555; */
}

/* Custom media query */
@media (min-width: 768px) {
    .menuButton, .nav {
        display: none;
    }
}
  