.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #dbd7d4;
  z-index: 2; 
}

.navbar .navMenuLinks {
  display: none;
}

.navbar li a:hover {
  text-decoration: underline;
  color: red;
}

.navbar li .navLink {
  margin-right: 1em;
  color: #3D3939;
}

.navs {
  margin-right: 1em;
}

.brand {
  display: flex;
  padding-top: 5px;
  padding-left: 15px;
  color: #3D3939;
  font-size: 20px;
}

.logo {
  padding-top: 15px;
  padding-right: 10px;
}
/* Custom media query */
@media (min-width: 768px) {
  .navbar .navMenuLinks{
    display: flex; 
  } 

  .navbar {
    justify-content: flex-end;
  }

  .brand {
    padding-top: 0;
    width: 100%;
    padding-left: 35px;
}
}