.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  z-index: 2;
}

.navbar ul {
  display: flex;
  visibility: hidden;
}

.navbar li a:hover {
  text-decoration: underline;
  color: red;
}

.navbar li a {
  margin-right: 1em;
  color: white;
}

/* Custom media query */
@media (min-width: 768px) {
  .navbar ul{
    visibility: visible;
  }
}