.projectCard {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    margin: 10px 0;
    padding: 2em;
}

.projectLinksWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}

.gitLink, .demoLink {
    font-size: 20px;
    padding-left: 15px;
}

.projectIcon {
    font-size: 40px;
}

