.projectCard {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    margin: 10px 0;
    padding: 2em;
    padding-bottom: 4em;
    position: relative;
}

.projectLinksWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 35px;
}

.gitLink, .demoLink {
    font-size: 20px;
    padding-left: 15px;
    color: black;
}

.projectIcon {
    font-size: 40px;
}

.projectCard ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 0;
    position: absolute;
    bottom: 9%;
  }
  
  .projectCard li {
   margin-right: 1em;
   font-size: 14px;
  }

  /* .projectCard:hover {
    transform: scale(1.1);
  } */