.tabButton{
    border: none;
    background: transparent;
    padding: 0;
}

.tabButton:hover {
    background-color: rgba(0,0,0,0.3);
}

.tabButton:focus{
    outline-style: none;
}
.tabText {
    font-size: 20px;
}

.tabHeader {
    list-style: circle;
}

@media (min-width: 768px) {
    .tabHeader {
        padding-bottom: 10px;
        border-bottom-width: 0;
    }

    .tabButton {
        padding: 1px 6px;
    }
    
}