.tab_list {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
}

@media (min-width: 768px) {
    .tabs {
        display: flex;
        width: 85%;
    }

    .tab_list {
        margin-right: 3em;
        padding: 0;
        display: block; 
        padding-left: 0; 
        margin-left: 1em;
    }
} 